<footer class="bg-[#211a1d] text-white py-8">
    <div class="max-w-screen-xl mx-auto px-4">
      <div class="w-full mx-auto flex flex-col justify-center items-center">
        <span>Az oldalon lévő tartalmak a <a class="underline" href="https://creativecommons.org/licenses/by-nc-sa/2.5/hu/deed.hu">Creative Commons 2.5 licenc</a>  feltételeinek megfelelően szabadon terjeszthetők.</span> <br>
        <a class="underline" href="https://digimeter.hu/Adatv%C3%A9delmi-nyilatkozat.pdf">Adatvédelmi nyilatkozat</a>
      </div>
    </div>
  </footer>