<div class="cont">
    <div class="container">
        <img src="assets/ai.png" alt="Kép leírása">
        <p class="mess">Szia, az én nevem __! <br> <br>
            Egy mesterséges intelligencia vagyok, amit a DIGIMÉTER azért alkotott meg, hogy segítsek neked a kérdőív
            kitöltésében és általános útmutatást adjak neked arról, hogy miről is szól a digitalizáció!
            <br> <br> A kérdőív amelyben segíteni fogok neked egy általános képet fog neked adni a vállalkozásod
            digitalizáltságáról, tanácsokat és javaslatokat fogsz tőlem kapni, hogy miben érdemes a jelenlegi
            állapotodhoz képest javítani! <br> <br>
            Lássunk neki!
        </p>
    </div>
    <a href="" class="w-full">
        <button>Kezdjünk neki!</button>
    </a>
</div>