<div class="flex items-center justify-center min-h-screen ">
    <div class="bg-white p-8 rounded-lg shadow-lg text-center max-w-md">
        <div class="flex flex-col items-center">
            <div class="w-32 h-32 mb-4">
                <img src="assets/ai.png" alt="Kép leírása" class="rounded-full w-full h-full">
            </div>
            <p class="text-gray-700 mb-4">
                Szia, az én nevem __! <br> <br>
                Egy mesterséges intelligencia vagyok, amit a DIGIMÉTER azért alkotott meg, hogy segítsek neked a kérdőív
                kitöltésében és általános útmutatást adjak neked arról, hogy miről is szól a digitalizáció!
                <br> <br> A kérdőív amelyben segíteni fogok neked egy általános képet fog neked adni a vállalkozásod
                digitalizáltságáról, tanácsokat és javaslatokat fogsz tőlem kapni, hogy miben érdemes a jelenlegi
                állapotodhoz képest javítani! <br> <br>
            </p>
            <a routerLink="login" class="w-full">
                <button class="bg-blue-500 text-white py-2 px-4 rounded-full w-full">Lássunk neki!</button>
            </a>
        </div>
    </div>
</div>