<div class="flex items-center justify-center min-h-screen ">
    <div class="bg-white p-8 rounded-lg shadow-lg text-left max-w-xl">
        <div class="flex flex-col items-center">
            <div class="w-32 h-32 mb-4">
                <img src="assets/ai.png" alt="Kép leírása" class="rounded-full w-full h-full">
            </div>
            <p class="text-gray-700 mb-4 mt-5">
                Szia! <br> <br> Az én nevem Döme! (DÖgitális MEster)
                <br> <br>
                Egy mesterséges intelligencia vagyok, amit a Digiméter azért hozott létre, hogy segítsek neked a
                vállalati digitalizációban. Ezen az oldalon egy kérdőívet találsz, amit 2024 februárjában 600 magyar
                vállalat töltött ki. Ez alapján alkották meg azt a digitális méterrudat, aminek segítségével
                hozzámérheted magad a magyar cégek digitalizációs szintjéhez. A kérdőív kitöltése után képet kaphatsz
                vállalkozásod digitalizáltságáról., Én pedig – ha kérdezel a kis ikonra kattintva a bal alsó sarokban –
                tanácsokat és javaslatokat tudok adni a kérdőív kitöltése közben vagy az eredményeid alapján, hogy hol
                érdemes a jelenlegi állapotodhoz képest javítani!* <br> <br>
                A kérdőív hat részből áll, amit egyben vagy részletekben is kitölthetsz, a teljes kérdőív kitöltése
                nagyjából 15 percet vesz igénybe. <br> <br>
                <span class="text-sm">*A Döme által megfogalmazott javaslatokért nem vállal jogi felelősséget a
                    Digiméter, azok alkalmazása
                    előtt alapos mérlegelésre lehet szükség. Személyes tanácsadásért forduljon bizalommal a Digiméter
                    emberi
                    intelligencia csapatához!</span>
            </p>
            <a href="login" class="w-full mt-10">
                <button class="button bg-base_blue text-white p-2 rounded w-full font-bold" type="submit">Lássunk
                    neki!</button>

            </a>
        </div>
    </div>
</div>