<div class="bg-white text-black font-bold my-20 mx-auto p-4 rounded shadow-lg w-full max-w-3xl">
  <div class="flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-6">
    <img src="assets/ai.png" alt="Kép leírása" class="w-24 md:w-32 rounded-full">
    <p class="bg-gray-200 p-4 rounded shadow-lg">
      Kezdjük azzal, hogy létrehozunk neked egy fiókot!<br><br>
      Ez azért fontos, hogy le tudjuk neked menteni az előző kitöltéseidnek eredményeit. Ezeket később vissza tudod majd keresni és össze tudod hasonlítani majd egy előző eredménnyel.<br><br>
      Amennyiben van már fiókod, úgy csak szimplán jelentkezz be!
    </p>
  </div>
</div>

<div *ngIf="loginShown" class="bg-white text-black p-6 rounded shadow-lg w-full max-w-md mx-auto">
  <form [formGroup]="loginForm" (ngSubmit)="authService.onLoginSubmit(loginForm)" class="space-y-4">
    <input class="input-field w-full p-2 border rounded" formControlName="username" placeholder="Felhasználónév">
    <input class="input-field w-full p-2 border rounded" formControlName="password" type="password" placeholder="Jelszó">
    <p class="text-right mt-2 text-gray-600 hover:text-black cursor-pointer" (click)="toggleForm()">Még nincs fiókom..</p>
    <div class="w-full flex justify-center">
      <button class="button bg-base_blue text-white p-2 rounded" type="submit">Bejelentkezés</button>
    </div>
  </form>
</div>

<div *ngIf="!loginShown" class="bg-white text-black p-6 rounded shadow-lg w-full max-w-md mx-auto">
  <form [formGroup]="registerForm" (ngSubmit)="authService.onRegisterSubmit(registerForm);" class="space-y-4">
    <input class="input-field w-full p-2 border rounded" formControlName="username" placeholder="Felhasználónév">
    <input class="input-field w-full p-2 border rounded" formControlName="password" type="password" placeholder="Jelszó">
    <input class="input-field w-full p-2 border rounded" formControlName="confirmPassword" type="password" placeholder="Jelszó megerősítése">
    <p class="text-right mt-2 text-gray-600 hover:text-black cursor-pointer" (click)="toggleForm()">Már van fiókom!</p>
    <div class="w-full flex justify-center">
      <button class="button bg-base_blue text-white p-2 rounded" type="submit">Regisztráció</button>
    </div>
  </form>
</div>