<div class="app-container" (document:click)="onDocumentClick($event)">
    <div class="chat-container" [ngClass]="{'hidden': !isChatVisible, 'visible': isChatVisible}">
      <div class="chat-header">
        <span style="margin-left: 10px;">
          DIGIMÉTER
        </span>
        <button style="margin-right: 10px;" class="close-button" (click)="isChatVisible = false">×</button>
      </div>
      <div class="messages" id="scrollable" #scrollable>
        @for (message of shownMessages; track $index) {
            <div class="message bot">
                {{message}}
            </div>
        }
      </div>
    </div>
    <button class="chat-button" [ngClass]="{'shown-button': isChatVisible}" (click)="toggleChat($event)">
      <img src="assets/ai.png" alt="Chat">
    </button>
  </div>