<div class="app-container" (document:click)="onDocumentClick($event)">
  <div class="chat-container" [ngClass]="{'hidden': !isChatVisible, 'visible': isChatVisible}">
    <div class="chat-header">
      <span style="margin-left: 10px;">
        DIGIMÉTER
      </span>
      <button style="margin-right: 10px;" class="close-button" (click)="isChatVisible = false">×</button>
    </div>
    <div class="messages" id="scrollable" #scrollable>
      <div *ngFor="let message of messages" class="message" [ngClass]="{'user': message.user, 'bot': !message.user}">
        {{ message.text }}
      </div>
      <div class="loader" *ngIf="isMessageLoading">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="input-container">
      <input type="text" class="aiinput" [(ngModel)]="inputText" (keyup.enter)="sendMessage()"
        placeholder="Írj valamit...">
      <button class="send-button" (click)="sendMessage()">&rarr;</button>
    </div>
  </div>
  <button class="chat-button" [ngClass]="{'shown-button': isChatVisible}" (click)="toggleChat($event)">
    <img src="assets/ai.png" alt="Chat">
  </button>
</div>
