<app-header></app-header>

<div class="ai-cont">
  <div class="container">
    <img src="assets/ai.png" alt="Kép leírása">
    <p class="mess">Ez itt a főoldal!<br> <br>
      Itt tudsz majd új kérdőívet kitölteni vagy akár megnézni az előző kitöltéseidnek az eredményét!<br> <br>
      Fontos, hogy mielőtt új kérdőívet töltenél ki azelőtt meg kell adnod a céged adatai!
    </p>
  </div>
</div>

<div class="flex flex-col lg:flex-row w-[90%]  mx-auto justify-around">

  <div
    class="max-w-4xl h-[50rem] w-full lg:w-[50%] flex flex-col justify-center p-5 bg-white shadow-lg rounded-lg border-solid border-2 border-gray-100">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Céged adatai</h2>
    <form class="">
      <div class="mb-4">
        <label for="region" class="block text-gray-700 text-sm font-bold mb-2">Régió:</label>
        <select id="region" [(ngModel)]="myFirm.Region" name="region" required
          class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option value="Budapest">Budapest</option>
          <option value="KozepDunantul">Közép-Dunántúl</option>
          <option value="PestMegye">Pest megye</option>
          <option value="NyugatDunantul">Nyugat-Dunántúl</option>
          <option value="EszakMagyarorszag">Észak-Magyarország</option>
          <option value="DelAlfold">Dél-Alföld</option>
          <option value="EszakAlfold">Észak-Alföld</option>
          <option value="DelDunantul">Dél-Dunántúl</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="field" class="block text-gray-700 text-sm font-bold mb-2">Tevékenységi kör:</label>
        <select id="field" [(ngModel)]="myFirm.Field" name="field" required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option value="Szallashely">Szálláshely szolgálatatás, vendéglátás</option>
          <option value="Epitoipar">Építőipar</option>
          <option value="Kereskedelem">Kereskedelem, gépjárműjavítás</option>
          <option value="Ingatlan">Ingatlanügyek</option>
          <option value="Informacio">Információ, kommunikáció</option>
          <option value="Feldolgozoipar">Feldolgozóipar</option>
          <option value="Mezogazdasag">Mezőgazdaság, bányászat</option>
          <option value="Villamosenergia">Villamosenergia-, gáz-, gőzellátás, légkondicionálás, vízellátás</option>
          <option value="Szallitas">Szállítás/raktározás</option>
          <option value="Szakmai">Szakmai, tudományos, műszaki tevékenység, könyvelés</option>
          <option value="Penzugy">Pénzügyi, biztosítási tevékenység</option>
          <option value="Adminisztrativ">Adminisztratív és szolgáltatást támogató tevékenység</option>
          <option value="Egyeb">Egyéb (közigazgatás, oktatás, egészségügy, szociális ellátás, művészet, egyéb
            szolgáltatás)</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="workers" class="block text-gray-700 text-sm font-bold mb-2">Foglalkoztatottak száma:</label>
        <select id="workers" [(ngModel)]="myFirm.Workers" name="regworkersion" required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <option value="otkilenc">5-9 fő</option>
          <option value="husznegyvenkilenc">10-19 fő</option>
          <option value="tiztizenkilenc">20-49 fő</option>
          <option value="otvenketszaznegyvenkilenc">50-249 fő</option>
        </select>
      </div>

      <div class="w-full flex justify-center">
        <button type="button" (click)="saveToFirm()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Adatok
          mentése</button>
      </div>
    </form>
  </div>


  <div>
    <div
      class="w-full h-[10rem] shadow-lg p-10 rounded-lg  border-l-2 border-solid border-2 border-gray-100">
      <h2 class="text-2xl font-semibold  mb-4">Teszt indítása</h2>
      <div class="w-full flex justify-center">
        <button type="button" (click)="checkFirmData()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-auto ">Teszt
          kitöltése</button>
      </div>
    </div>

    <div class="h-[5rem]">

    </div>

    <div class="w-full h-[35rem] shadow-lg p-10 border-solid border-2 border-gray-100 text-white rounded-lg">
      <h2 class="text-2xl font-semibold  mb-4">Eddigi eredmények</h2>
      <div *ngIf="results.length != 0">
        <div *ngFor="let kitoltes of results" class="rounded-md px-2 py-3 bg-blue-500 cursor-pointer mt-10" routerLink="../result/{{kitoltes.id}}">
          <p>Kitöltés dátuma: <br> <span class="font-bold">{{kitoltes.id | date: 'yyyy-MM-dd'}}</span> </p>
          <p>Elért pontszám: <br> <span class="font-bold">{{kitoltes.totalPoints}} pont</span> </p>
        </div>
      </div>
      <div *ngIf="results.length == 0">
        <p class="text-center">Még nem töltöttél ki egy kérdőívet sem! Kezdj neki most az elsőnek!</p>
      </div>
    </div>
  </div>
</div>

